@import url('https://fonts.googleapis.com/css?family=Quicksand'
);
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet"');

:root{
  --light-bg-color: whitesmoke;
  --dark-bg-color: #202020;
  --medium-dark-bg-color: #303030;
  --aqua-text-color: #51fa97;
  --violet-text-color: #b386fc;
  --lava-text-color: #f54242;
  --sunflower-text-color: #ffec3d;
  --dark-text-color: #181717;
  --light-text-color: whitesmoke;
  --bigger-font: 'Quicksand', 'sans-serif';
  --firstAnimation: 1.5s;
}


body{
  margin: 0px;
  padding: 0px;
  background-image: url('./assets/background.jpg');
  background-attachment: fixed;
  text-align: center;
}

footer{
  position: absolute; 
  background-color: rgba(0,0,0,0.5);
  bottom: 0;
  width: 100%;
  height: 6%;
  text-align: right;
}

nav{
  /*margin-top: 0.5rem;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
  border: 1px var(--aqua-text-color) solid;*/
  background-color: rgba(0,0,0,0.5);
}

a{
  text-decoration: none;
  color: whitesmoke;
}


.header-button{
  color: white;
}
.header-button:hover{
  color: gray;
}


.home-card{
  background-color: rgba(0,0,0,0.5);
  padding: 1rem;
}


.projects-container{  
  display: grid;
  grid-template-columns: 60% 40%;
  padding-top: 2.5%;
}

.projects-container-info{
  background-color: rgba(0,0,0,0.5);
  margin-right: 5%;
  height: 22rem;
  padding-left: 5%;
  padding-right: 5%;
}

.img-container{
  text-align: left;
  padding-left: 5%;
}

.project-print{
  height: 22rem;
  text-align: left;
 
}

.projects-button-container{
  width: 43rem;
  margin-top: 2rem;
}

.projects-button{
  width: 4.0rem;
}

.projects-button:hover{
  width: 4.2rem;
}


.gray-scale{
  filter: grayscale(100%);
}

.gray-scale:hover{
  filter: grayscale(0%);
}

.centered-link{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.flag{
  width: 2rem;
  margin-top: 0.2rem;
  margin-right: 1rem;
  filter: grayscale(100%);
}
.flag:hover{
  filter: grayscale(0%);
  cursor: pointer;
}

/*colors*/
.white{
  color: whitesmoke;
} 

.violet{
  color: var(--violet-text-color);
} 
.aqua{
  border-bottom: 2px white solid;
}
.lava{
  color: var(--lava-text-color);
}
.sunflower{
  color: var(--sunflower-text-color);
}

/*fonts*/
.bangers-family{
  font-family: var(--bigger-font);
}

.condensed-family{
  font-family: 'Open Sans Condensed', sans-serif;
}

.large {
  font-size: 5rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.medium{
  font-size: 2.5rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.small{
  font-size: 1.5rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.very-small{
  font-size:1rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

/* Img */
.round-img {
  border-radius: 50%;
}

/* Grid */
.grid-2 {
  display: grid;
  grid-template-columns: 0.4fr 0.6fr;
  grid-gap: 1rem;

}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}


/*animation*/
.typewriter-text {
  animation: showText 3s;
}

.show-image-animation{
  animation: showImage 3s;
}

@keyframes showText {
  from { 
      color: rgba(255,255,255,0) 
  }
  to { 
      color: white; 
  }
}

@keyframes showImage {
  from { 
      opacity: 0; 
  }
  to { 
      opacity: 100%; 
  }
}