@import url('https://fonts.googleapis.com/css?family=Quicksand'
);

:root{
  --light-bg-color: whitesmoke;
  --dark-bg-color: #202020;
  --medium-dark-bg-color: #303030;
  --aqua-text-color: #51fa97;
  --violet-text-color: #b386fc;
  --lava-text-color: #f54242;
  --sunflower-text-color: #ffec3d;
  --dark-text-color: #181717;
  --light-text-color: whitesmoke;
  --bigger-font: 'Quicksand', 'sans-serif';
  --firstAnimation: 1.5s;
}


body{
  margin: 0px;
  padding: 0px;
  background-image: url('./assets/background.jpg');
  background-attachment: fixed;
  text-align: center;
}

.languagesPlace{
  position: fixed;
  background: linear-gradient(180deg, rgba(48,252,133,1) 18%, rgba(28,159,83,1) 88%);
  width: 25%;
  height: 100%;
  z-index: -1;
}

.white{
  color: whitesmoke;
} 

.violet{
  color: var(--violet-text-color);
} 
.aqua{
  color: var(--aqua-text-color);
}
.lava{
  color: var(--lava-text-color);
}
.sunflower{
  color: var(--sunflower-text-color);
}

a{
  text-decoration: none;
  color: whitesmoke;
}

nav{
  margin-top: 0.5rem;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
  border: 1px var(--aqua-text-color) solid;
  background-color: rgba(0,0,0,0.5);
}

.bodyCard{
  margin-top: 0.5rem;
  border: 1px whitesmoke solid;
  background-color: rgba(0,0,0,0.5);
  height: 80vh;
}


.bangers-family{
  font-family: var(--bigger-font);
}

.large {
  font-size: 5rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.medium{
  font-size: 2.5rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.small{
  font-size:0.9rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

/* Img */
.round-img {
  border-radius: 50%;
}

/* Grid */
.grid-2 {
  display: grid;
  grid-template-columns: 0.4fr 0.6fr;
  grid-gap: 1rem;

}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}
.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}

.typewriter-text {
  animation: typing 5s;
}

@keyframes typing {
  from { 
      color: rgba(255,255,255,0) 
  }
  to { 
      color: white; 
  }
}
